*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.heading-container{
    display: flex;
    background-color: rgba(67,40,28,255);
    justify-content: center;
    padding: 20px;
}

.logo-image{
    height: 40px;
    width: 40px;
}

.heading{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "items-grid name-grid" "items-grid payment-grid" "items-grid payment-grid" "total-grid-keys total-grid-values"
                           "order-btn-grid order-btn-grid";
    background-color: rgba(239,239,239);
    padding: 20px 10px;
}

.items-container{
    grid-area: items-grid;
    background-color: rgba(238,225,213);
    border: 2px;
    margin: 8px;
    border-radius: 8px;
    padding: 20px 30px;
    flex-grow: 1;
    box-shadow: 2px 5px rgb(235, 217, 200);
}

.name-container{
    grid-area: name-grid;
    background-color: rgba(238,225,213);
    border: 2px;
    margin: 8px;
    border-radius: 8px;
    padding: 20px 30px;
    flex-grow: 1;
    box-shadow: 2px 5px rgb(235, 217, 200);
}

.payment-container{
    grid-area: payment-grid;
    background-color: rgba(238,225,213);
    border: 2px;
    margin: 8px;
    border-radius: 8px;
    padding: 20px 30px;
    flex-grow: 1;
    box-shadow: 2px 5px rgb(235, 217, 200);
}

.item-container{
    display: flex;
    /* justify-content: space-between; */
    margin: 20px 10px;
}
.container-tag{
    margin-bottom: 10px;
}

.item-quantity{
    width: 10%;
}
.item-names{
    width: 60%;
}


.item-price{
    font-weight: bold;
    width: 30%;
}

.item-name{
    font-weight: bold;
    margin-bottom: 10px;
}



.line-break{
    display: block;
    height: 2px;
    margin: 10px;
    padding: 0;
    background-color: brown;
}

.input-tag{
    border-color: brown;
    border-radius: 8px;
    padding: 5px 15px; 
    font-size: large; 
    background-color: rgba(238,225,213);
    width: 100%;
}

.input-label{
    font-size:11px;
    left: 8px;
    top: -8px;
    position: absolute;
    padding: 2px;
    background-color: rgba(238,225,213);
}

.input-container{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px 5px;
}

.total-container-keys{
    display: grid;
    grid-area: total-grid-keys;
    justify-content: right;
    margin: 40px 15%;
}

.total-container-values{
    display: grid;
    grid-area: total-grid-values;
    justify-content: left;
    margin: 40px 15%;
}

.tag{
    margin: 15%;
    font-size: large;
}

.place-order-btn{
    grid-area: order-btn-grid;
    margin: 10px 15px ;
}

.order-button{
    width: 100%;
    font-size: large;
    padding: 7px;
    background-color: rgba(222,185,147);
    border: 0px;
    border-radius: 18px;
}

.total-value,.total-key{
    font-weight: bold;
}